# 1. How can you load a CSV file into your data analysis environment?

# 2.How can you inspect the first few rows of a dataset?

# 3.How can you get a summary of a DataFrame?

# 4.How can you handle a scenario with missing data in a dataset?

# 5.How can you drop rows with missing values specifically in certain columns of a DataFrame?

# 6.How can you clean duplicate entries in a dataset?

# 7.How can you select rows where 'Age' is greater than 50 and display only the 'Name' and 'Salary' columns?

# 8.Select rows where 'Gender' is 'Female' and 'Department' is 'HR', then display 'Name' and 'Age'.

# 9.How do you set the 'Salary' to 100,000 for the row where 'ID' is 10?

# 10.Select rows where 'Gender' is 'Female' and 'Department' is 'HR', then display 'Name' and 'Age'.

# 11.How do you select the first 10 rows and the first 4 columns of a dataset?

# 12.How can you select the value located in the 5th row and 3rd column of a dataset?

# 13.How can you set the 'Salary' to 50,000 for all rows where the 'Age' is less than 25?

# 14.Select the 2nd, 4th, and 6th rows and the 1st, 3rd, and 5th columns.

# 15.How do you set the 'Age' to 40 and 'Salary' to 80,000 for rows where 'Department' is 'Engineering' and 'Gender' is 'Male'?

# 16. Select every 10th row and every 2nd column starting from the 1st row and 2nd column.

# 17.How do you calculate the total sum of 'Salary' for each 'Department' in a dataset?

# 18.How can you count the number of employees in each 'Department' in a dataset?

# 19.How do you compute the average 'Age' for each 'Gender' in a dataset?

# 20.Calculate both the total and average 'Salary' for each 'Gender'.

# 21.How do you calculate the total 'Salary' for each combination of 'Department' and 'Gender' in a dataset?

# 22.How do you filter out 'Departments' where the average 'Salary' is below 60,000 in a dataset?

# 23.How do you calculate both the total 'Salary' and average 'Age' for each 'Department' in a dataset?

# 24.How do you sort the DataFrame by 'Age' in ascending order?

# 25.How do you sort the DataFrame first by 'Department' in ascending order, and then by 'Salary' in descending order?

# 26.How do you sort the DataFrame by 'JoiningDate' in ascending order, ensuring NaN values are placed at the end?

# 27.How do you sort the DataFrame by 'Salary' in descending order and reset the index?

# 28.How do you sort the DataFrame by index in descending order?

# 29.How do you sort the DataFrame by index in ascending order and by 'Salary' in descending order simultaneously?

# 30.How do you sort the DataFrame by the absolute value of 'Salary' in descending order?

# 31. How do you rename the column 'EmployeeName' to 'Name' in a DataFrame?

# 32.How can you add a new column 'Bonus' that is 5% of the 'Salary' for each employee in a DataFrame?

# 33.How do you rename the columns ['ID', 'JoiningYear'] to ['EmployeeID', 'YearJoined'] in a DataFrame?

# 34.How can you add a new column 'Seniority' that labels employees as 'Senior' if their 'Age' is above 40, and 'Junior' otherwise, in a DataFrame?

# 35.How do you rename all columns to lowercase in a DataFrame?

# 36.How do you merge two DataFrames, df1 and df2, on the 'ID' column using an inner join?

# 37.How do you merge `left_df` and `right_df` where `left_df` has 'EmpID' and `right_df` has 'EmployeeID', using a left join?

# 38.How can you replace all occurrences of 'Male' with 'M' in the 'Gender' column of a DataFrame?

# 39.How do you replace 'High', 'Medium', and 'Low' in the 'Rating' column with 3, 2, and 1 respectively in a DataFrame?

# 40. How can you map the values in the 'Department' column of a DataFrame using a dictionary `dept_map`?

#  dept_map = {'HR': 'Human Resources', 'IT': 'Information Technology', 'Finance': 'Finance'}

# 41.Transform 'Salary' column by applying a lambda function that adds 10% to each value.

# 42. How do you remove a single column from a DataFrame?

# 43. How can you remove multiple columns from a DataFrame?

# 44. How do you concatenate two DataFrames, df1 and df2, vertically?

# 45. How do you concatenate `left_df` and `right_df` horizontally along columns?

# 46. How do you pivot the DataFrame `sales_df` to display the total 'Sales' for each 'Year' and 'Quarter'?

# 47.How do you unpivot the DataFrame `pivot_df` back to its original form?

# 48.How do you set the 'ID' column as the index of the DataFrame df?

# 49.How do you export the DataFrame df to a CSV file named 'employee_data.csv'?

# 50.How do you export the DataFrame `sales_df` to an Excel file named 'sales_data.xlsx' with a sheet named 'Sales'?

# 51.How do you impute missing values in the 'Salary' column using the median and create a summary DataFrame?

# 52.How do you group by 'Department' and calculate the 25th percentile of 'Salary' in a DataFrame?

# 53. How do you calculate the cumulative sum of 'Salary' over each department in a DataFrame?

# 54. How can you add a new column 'PerformanceRating' to assign values based on 'Salary': 'High' if above 80,000, 'Medium' if between 50,000 and 80,000, and 'Low' if below 50,000?

# 55. How do you replace 'Unknown' values in the 'Age' column of the DataFrame with the mean age of the DataFrame?

# 56. How do you load a JSON file with nested structures and normalize it into a flat DataFrame?

# 57.How do you retrieve unique values from the 'City' column in a DataFrame df?

# 58.How do you combine the counts of unique 'ProductID' and 'Category' in sales_df?

# 59.How do you filter employee_data to include only employees who have worked in more than one department?

# 60. How do you create a custom aggregation function to calculate the weighted average 'Salary' by 'Department'?